@font-face {
    font-family: "ghost_cove";
    src: local("ghost_cove"),
      url(/fonts/Ghost-Cove-Font/QG.ttf) format("opentype");
    /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
  }


.logo{
    font-family: ghost_cove,-apple-system,sans-serif;
    font-size: 3.5rem;
    position: fixed;
    cursor: pointer;
    top: 150px;
    left: 50%;
    z-index: 3;
    padding-left: 1px;
    background-color: #0a858e;
    color: transparent;
    text-shadow: 1px 0.2rem 0.1rem #fefefeab;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    /* filter: brightness(2); */
    transform: scale(2) translate(-26%,0%);
    transition: all 1s ease-in;
}
.logo:hover{
    opacity: 0.7;
}
.soundToggle{
    cursor: pointer;
    position: fixed;
    z-index: 5;
    bottom: 80px;
    left: 105px;
}
.soundOn,.soundOff {
    color: #313131;
    font-size: 24px;
}
.soundToggle:hover{
    opacity: 0.8;
}
.about{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    /* margin: 10px; */
    /* display: flex; */
    opacity: 0;
    transition: all 0.3s ease;
    display: none;
}
.about div{
    width: 100%;
    height: 100%;
    max-width: 500px;
    max-height: 500px;
    margin: auto;
    padding: 20px;
    /* padding-top: 30%; */
    background-color: #0e0e0ead;
    border-radius: 5px;
    border: 2px solid #fefefe;
    text-align: center;
    line-height: 30px;
}
.header {
    position: fixed;
    display: flex;
    z-index: 1;
    flex-direction: row;
    width: 100%;
    text-align: center;
    height: 100%;
    padding: 0 20px;
}
.header h2{
    margin: auto;
    padding-top: 50vh;
    flex: 1;
    line-height: 30px;
    font-size: 18px;
}
.hamburger{
    display: none;
}

.navContainer{
    position: fixed;
    z-index: 2;
    font-family: ghost_cove,-apple-system,sans-serif;
    font-size: 1.4rem;
    color: #313131;
}
.navList{
    position: fixed;
    top: 70px;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    list-style: none;
}
.navList li{
    margin: 0 30px;
}
.navList li:hover{
    opacity: 0.8;
}
.navSocial{
    position: fixed;
    bottom: 55px;
    right: 40px;
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0 20px;
    justify-content: space-around;
}
.navSocial li{
    margin: 20px;
}
.navSocial li:hover{
    opacity: 0.8;
}

.scrollDirectionContainer{
    position: fixed;
    bottom: 10px;
    z-index: 3;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 12px;
}
.scrollDirectionContainer div{
    margin: auto;
}

@media only screen and (max-device-width: 900px){
    .logo{
        font-size: 2rem;
        text-shadow: 0px 0.05rem 0.1rem #fefefeab;
        transform: scale(2) translate(-26%,0%);

    }
    .sub{
        top: 200px;
    }
    .about div{
        max-width: 350px;
        max-height: 500px;
    }
    .header h2{
        line-height: 30px;
        font-size: 16px;
    }
    .soundToggle{
        bottom: 30px;
        left: 40px;
    }
    .soundOn,.soundOff {
        width: 20px;
    }
    .hamburger{
        display: block;
        position: fixed;
        z-index: 3;
        top: 25px;
        right: 40px;
        width: 30px;
        height: 30px;
        cursor: pointer;
        transition: all 0.5s ease;
    }
    .fullScreenExit,.soundOff {
        display: none;
    }
    .fullScreen:hover,.fullScreenExit:hover,.soundOff:hover,.soundOn:hover{
        transform: scale(1.2);
    }
    .line1,
    .line2,
    .line3,
    .line4 {
        display: block;
        content: "";
        width: 40%;
        height: 2px;
        background-color: #313131;
        border: 0.1px solid #fefefe;
        margin: 5px 0 5px 0;
        transition: all 0.5s ease;
    }
    .line3,.line4{
        margin-left: 20px;
    }
    
    .hamburger:focus>.line1{
        transform: translateX(2.5px) scale(1.4);
    }
    .hamburger:focus>.line4{
        transform: translateX(-2.5px) scale(1.4);
    }
    
    .line1.close {
        transform: translate(0px, 0px) rotate(-45deg);
    }
    
    .line2.close {
        transform: rotate(45deg);
    }
    
    .line3.close {
        width: 16px;
        transform: translate(1px, 2px) rotate(45deg);
    }

    .navContainer{
        position: fixed;
        right: 0px;
        top: 0;
        width: 50%;
        height: 100vh;
        z-index: 2;
        transform: translateX(100%);
        background-color: #0e0e0ead;
        transition: all 0.5s ease;
        color: #fefefe;
        font-size: 14px;
    }
    .navList{
        position: relative;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        text-align: center;
    }
    .navList li{
        margin: 50px 0;
    }
    .navSocial{
        right: 0;
        position: relative;
        flex-direction: row;
        margin: 0 20px;
        justify-content: space-around;
    }

    /* .navSocial li{
        margin: 20px;
    } */
}