@font-face {
    font-family: "ghost_cove";
    src: local("ghost_cove"),
      url(/fonts/Ghost-Cove-Font/QG.ttf) format("opentype");
    /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
  }

.logo{
    font-family: ghost_cove,-apple-system,sans-serif;
    font-size: 3.5rem;
    position: fixed;
    top: 55px;
    left: 105px;
    z-index: 2;
    padding-left: 1px;
    background-color: #0a858e;
    color: transparent;
    text-shadow: 0px 0.2rem 0.1rem #fefefeab;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    /* filter: brightness(2); */
}
.soundToggle{
    position: fixed;
    z-index: 1;
    bottom: 55px;
    left: 105px;
}
.soundOn,.soundOff {
    width: 30px;
}
.header {
    position: fixed;
    display: flex;
    z-index: 2;
    width: 100%;
}
.hamburger{
    display: none;
}

.navContainer{
    position: fixed;
    z-index: 1;
    font-family: ghost_cove,-apple-system,sans-serif;
    font-size: 1.4rem;
    color: #313131;
}
.navList{
    position: fixed;
    top: 65px;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    list-style: none;
}
.navList li{
    margin: 0 30px;
}
.navSocial{
    position: fixed;
    bottom: 55px;
    right: 0;
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0 20px;
    justify-content: space-around;
}
.navSocial li{
    margin: 20px;
}

@media only screen and (max-device-width: 900px){
    .logo{
        top: 30px;
        left: 40px;
        font-size: 2rem;
        text-shadow: 0px 0.05rem 0.1rem #fefefeab;
    }
    .soundToggle{
        position: fixed;
        z-index: 1;
        bottom: 30px;
        left: 30px;
        cursor: pointer;
    }
    .soundOn,.soundOff {
        width: 20px;
    }
    .hamburger{
        display: block;
        position: fixed;
        z-index: 2;
        top: 25px;
        right: 40px;
        width: 30px;
        height: 30px;
        cursor: pointer;
        transition: all 0.5s ease;
    }
    .fullScreenExit,.soundOff {
        display: none;
    }
    .fullScreen:hover,.fullScreenExit:hover,.soundOff:hover,.soundOn:hover{
        transform: scale(1.2);
    }
    .line1,
    .line2,
    .line3,
    .line4 {
        display: block;
        content: "";
        width: 40%;
        height: 2px;
        background-color: #313131;
        margin: 5px 0 5px 0;
        transition: all 0.5s ease;
    }
    .line3,.line4{
        margin-left: 20px;
    }
    
    .hamburger:focus>.line1{
        transform: translateX(2.5px) scale(1.4);
    }
    .hamburger:focus>.line4{
        transform: translateX(-2.5px) scale(1.4);
    }
    
    .line1.close {
        transform: translate(0px, 0px) rotate(-45deg);
    }
    
    .line2.close {
        transform: rotate(45deg);
    }
    
    .line3.close {
        width: 16px;
        transform: translate(1px, 2px) rotate(45deg);
    }

    .navContainer{
        position: fixed;
        right: 0px;
        top: 0;
        width: 50%;
        height: 100vh;
        z-index: 1;
        transform: translateX(100%);
        background-color: #0e0e0e7c;
        transition: all 0.5s ease;
        color: #fefefe;
        font-size: 14px;
    }
    .navList{
        position: relative;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        text-align: center;
    }
    .navList li{
        margin: 50px 0;
    }
    .navSocial{
        position: relative;
        flex-direction: row;
        margin: 0 20px;
        justify-content: space-around;
    }
}